<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BillingAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="BillingDatabase" value="SBPROD" />
    <add key="SmtpServer" value="smtp.mail.microsoftonline.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUsername" value="invoice@medquist.microsoftonline.com" />
    <add key="SmtpPassword" value="1nv0!c3" />
    <add key="DatabaseSchemaName" value="sphrsbilling" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <BillingAdmin.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="Database" serializeAs="String">
        <value>SBPROD</value>
      </setting>
      <setting name="DefaultBillPath" serializeAs="String">
        <value>\\tncifs8206\finance\Customer Files</value>
      </setting>
    </BillingAdmin.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
